{{#if erros}}
<div class="minimal-alert-container animate-fade-in-up" style="animation-delay: 0.1s;">
  <div class="alert alert-danger">
    <span class="error-title">Ajustes necessários:</span>
    <ul class="error-list">
      {{#each erros}}
        <li>{{texto}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}