{{#if erros}}
  <div class="alert alert-danger py-2 px-3">
    <strong>Erros:</strong>
    <ul class="mb-0 small">
      {{#each erros}}
        <li>{{texto}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}  {{!Melhorar}}